{% extends 'base.html' %}
{% load static %}


{% block content %}

    {% for products in product_list %}
<dev class ="product_container">
        <dev>Title :-{{ products.name }}</dev>
        <p>{{ products.img.url }}</p>
        <p>{{ products.desc }}</p>
        <p>price:{{ products.price }}</p>
        <a href="{% url 'checkout' %}"><button class="btn">Add to Cart</button></a>
        <a href="{% url 'checkout' %}"><button class="btn">Buy</button></a>
</dev>
    {% endfor %}


{% endblock %}